<form method="post" action="{{postRoute}}" autocomplete="off">
  <input type="hidden" name="id" value="{{question.id}}"/>

  <div class="mb-3">
    <label class="form-label" for="answer">{{question.question}}</label>
    <div class="input-group has-validation">
    {% if errors["answer-"+question.id] %}
      <input class="form-control is-invalid" type="text" id="answer-{{question.id}}" name="answer" autocomplete="off"/>
      <div id="answerFeedback" class="invalid-feedback">
          {{errors["answer-"+question.id].text}}
      </div>
    {% else %}
      <input class="form-control" type="text" id="answer-{{question.id}}" name="answer" autocomplete="off"/>
    {% endif %}
    </div>
  </div>

  <div class="mb-3">
    <input class="btn btn-primary" type="submit" />
  </div>
</form>

{% if question.expectJapanese === true %}
<script>
  var input = document.getElementById('answer-{{question.id}}');
  wanakana.bind(input);
</script>
{% endif %}
