<p>{{question.question}}</p>
<form method="post" action="{{postRoute}}" autocomplete="off">
  <input type="hidden" name="id" value="{{question.id}}"/>
  <input type="hidden" name="kanji" value="{{question.kanji}}"/>

  <div class="mb-3">

  {% if question.disabled === false %}
    {% if errors["answer-"+question.id] %}
    <input type="text" class="form-control is-invalid" id="answer-{{question.id}}" name="answer" autocomplete="off"/>
    <p>{{errors["answer-"+question.id].text}}</p>
    {% else %}
    <input type="text" class="form-control" id="answer-{{question.id}}" name="answer" autocomplete="off"/>
    {% endif %}
  {% endif %}

  {% if question.disabled === true %}
    {% if errors["answer-"+question.id] %}
    <input type="text" class="form-control is-invalid" value="{{question.previousAnswer}}" id="answer-{{question.id}}" name="answer" autocomplete="off" disabled/>
    <p>{{errors["answer-"+question.id].text}}</p>
    {% else %}
    <input type="text" class="form-control" value="{{question.previousAnswer}}" id="answer-{{question.id}}" name="answer" autocomplete="off" disabled/>
    {% endif %}
  {% endif %}

  </div>

  {% if not question.disabled %}
  <div class="mb-3">
    <input class="btn btn-primary" type="submit" />
  </div>
  {% endif%}

  {% if hasNextQuestion and question.disabled %}
    <a class="btn btn-primary" href="{{postRoute}}">Next Question</a>
  {% endif%}
</form>

{% if question.expectJapanese === true %}
<script>
    var input = document.getElementById('answer-{{question.id}}');
  wanakana.bind(input);
</script>
{% endif %}
