<footer class="mt-5 pt-4 bg-white">
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col">
                    <p class="lead d-print-none">Learn Japanese</p>
                    <p>By <a href="#">Matthew Whalley</a></p>
                    <p class="d-print-none">Version 1.0.0</p>
                </div>
                <div class="col d-print-none">
                    <nav>
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link" href="/feedback">Feedback</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Donate</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Privacy policy</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Cookie policy</a>
                        </li>
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
