<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-print-none" aria-label="Primary navigation">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">
            <i class="bi bi-house-door-fill" aria-hidden="true"></i> Home
          </a>
        </li>

        {% if user %}
        <li class="nav-item">
          <a class="nav-link" href="/account">
            <i class="bi bi-person" aria-hidden="true"></i> Account
          </a>
        </li>
        {% endif %}

        {% if user and user.isAdmin %}
        <li class="nav-item">
          <a class="nav-link" href="/admin">
            <i class="bi bi-person-fill" aria-hidden="true"></i> Admin
          </a>
        </li>
        {% endif %}

        {% if user %}
        <li class="nav-item">
          <form method="post" action="/logout">
            <button class="nav-link btn btn-link">
              <i id="logout" class="bi bi-box-arrow-in-down" aria-hidden="true"></i>Logout
            </button>
          </form>
        </li>
        {% endif %}

      </ul>


    </div>
  </div>
</nav>
