  {% if question.type === 'general' %}
    {% include "partials/questions/general.njk" %}
  {% endif %}

  {% if question.type === 'kanji'%}
    {% include "partials/questions/kanji.njk" %}
  {% endif %}
