<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    {% block includes %}
      <!-- Override to include additional dependencies -->
    {% endblock %}
    </head>
    <body class="bg-secondary bg-gradient">
       {% include "partials/navigation.njk" %}
        <header class="header-bar card mb-3">
            <div class="container">
                {% block header %}
                  <p><small class="text-muted">Welcome</small></p>
                  {% if user %}
                      <h1 class="display-1">{{ user.username }}</h1>
                  {% endif %}
                {% endblock %}
            </div>
        </header>
        <main>
            <div class="container">
                {% block main %}{% endblock %}
            </div>
        </main>
        {% include "partials/footer.njk" %}
    </body>
</html>
