<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    {% block includes %}
      <!-- Override to include additional dependencies -->
    {% endblock %}
      <script>
        function hideToggleOptions(type) {

          const toggles = document.querySelectorAll('*[data-toggle*="' + type + '"]');

          for (let i = 0; i < toggles.length; i++) {
            let element = toggles[i];
            element.style.visibility = 'collapse';
            element.style.height = '0px';
          }
        }

        function updateToggle(type) {
          hideToggleOptions(type);

          let selectedType = document
            .querySelector('*[name="' + type + '"]')
            .value;

          const toggle = document.querySelector('*[data-toggle="' + type + ':' + selectedType + '"]');

          toggle.style.visibility = 'visible';
          toggle.style.height = 'auto';
        }

        function setSelectField(name, value) {
          document
            .querySelector('*[name="' + name + '"]')
            .value = value;
        }
      </script>
    </head>
    <body class="bg-secondary bg-gradient">
       {% include "partials/navigation.njk" %}
        <main>
            <div class="container">
                {% block main %}{% endblock %}
            </div>
        </main>
        {% include "partials/footer.njk" %}
    </body>
</html>
