{% extends "layouts/base-lesson.njk" %}

{% block title %}Learn Japanese Grammar: {{lesson.name}}{% endblock %}


{% block main %}
  <div class="row">
    <div class="col-12 col-sm-4 col-md-3 pe-3">
        <div style="top:0.5rem;" class="position-sticky">
          <nav id="contents-table" class="navbar navbar-light bg-light flex-column align-items-stretch d-print-none" aria-label="Section navigation">
          <a class="navbar-brand" href="#">Table of Contents</a>
          {% block contents %}
          <ul class="nav nav-pills flex-column">
            {% for link in contents %}
              <li class="nav-item"><a class="nav-link" href="{{link.href}}">{{link.name}}</a></li>
                {% if link.sublinks %}
                  <ul class="nav nav-pills flex-column">
                  {% for sublink in link.sublinks %}
                      <li class="nav-item"><a class="nav-link ms-3 my-1" href="{{sublink.href}}">{{sublink.name}}</a></li>
                  {% endfor %}
                  </ul>
                {% endif %}
            {% endfor %}
          </ul>
          {% endblock %}
        </nav>
      </div>
    </div>
    <div data-bs-spy="scroll" class="col-12 col-sm-8 col-md-7 pt-2" data-bs-target="#contents-table" data-bs-offset="0" tabindex="0">
       {% include "lessons/"+ templateName +".njk" %}
    </div>
    <nav class="offset-0 col-12 offset-sm-4 col-sm-8 offset-md-0 col-md-2 d-print-none" aria-label="Lesson navigation">
      <div style="top:1.5rem;" class="position-sticky mt-3">
        <div class="d-flex flex-column">
          {% if previousLessonSlug %}
            <a class="btn btn-outline-primary mb-3" href="/lesson/{{previousLessonSlug}}">Previous Lesson</a>
          {% endif %}

          {% if nextLessonSlug %}
            <a class="btn btn-outline-primary" href="/lesson/{{nextLessonSlug}}">Next Lesson</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <script>
    var scrollSpy = new bootstrap.ScrollSpy(document.body, {
  target: '#contents-table'
})
    </script>
    {# </div> #}
  </div>
{% endblock %}
