
{# <nav class="nav nav-pills flex-column">
  <a class="nav-link" href="#i-adjective">I adjectives</a>
  <a class="nav-link" href="#na-adjective">Na adjectives</a>
</nav> #}


<h2>Adjectives - describing words</h2>

<p>There are two main types of adjectives, "i" adjectives and "na" adjectives</p>

<h3 id="i-adjective">(I) adjectives</h3>

<p></p>

<ul>
  <li>Ureshii - happy</li>
  <li>Yasashii - Easy/Kind</li>
  <li>Oishii - delicious</li>
  <li>Subarashii - amazing</li>
  <li>Nagai - long</li>
  <li>Mijikai - short</li>
  <li>se ga takai - tall (person)</li>
  <li>se ga hikui - short (person)</li>
  <li>hayaii - fast</li>
  <li>atama ga ii - smart</li>
  <li>ii - good</li>
  <li>muzukashii - difficult</li>
  <li>omoshiroi - interesting/funny</li>
  <li>kakkoii - cool (a cool guy)</li>
  <li>takai - expensive</li>
  <li>yasui - cheap</li>
  <li>kowaii - scary</li>
  <li>tanoshii - fun</li>
</ul>

<h3 id="na-adjective">(Na) adjectives</h3>
<ul>
  <li>nigiyakana - loud//lively</li>
  <li>shizukana - quiet</li>
  <li>kirei - pretty</li>
  <li>taihenna - tough</li>
  <li>sukina - liked/favorite</li>
  <li>kiraina - hated</li>
  <li>genkina - healthy</li>
  <li></li>
</ul>

