<h2>Combining sentences</h2>

<p>In english if you want to make a sentence longer and sound a bit more complex instead of having lots of small sentences
  you can use joining words such as "and". and that can join multiple types of words. e.g. you can join adjectives (something is black and blue),
  you can join nouns (I went to england and scotland). Or you can just join multiple sentences by using and such as "I went home and played video games".
  In Japanese there are different ways of joining adjectives, nouns and sentences depending on what is being joined. It isn't as simple as being able to just use
  a word like "and" to join up different types of words.
</p>

<section id="combining-nouns">
  <h3>Combining nouns</h3>

  <p>Out of the three different "and" scenarios described above this is probably the easiest one as it just involves
    using a particle and putting it between the two words you want joining, which is quite intuitive when coming from
    the english language.
  </p>

  <p>
    So far when combining nouns you have probably been using the particle と.
    This is probably what you would want to use in most cases. However if you want to
    portray the two nouns as examples and not part of a rigid list then you can use the
    particle や instead.An example difference is below
  </p>

  <p>イギリス<strong>と</strong>フランスにいきました - I went to England and France</p>
  <p>イギリス<strong>や</strong>フランスにいきました - I went to England and France among other places</p>

  <p>So if e.g. you went shopping and someone asked what you bought, you could list a few of the items you
    bought and use the や particle. If you only bought one or two things and you wanted to name those things and
    wanted to imply that you only bought those two things and nothing else then you would use the particle と.
  </p>
</section>

<section id="combining-adjectives">
<h3>Combining adjectives</h3>

<p>You would quite frequently combine adjectives if you want to describe something in multiple ways. e.g.
  if you want to say that someone is "tall and skinny", or "quiet and peaceful". Combining adjectives isn't as simple
  as combining nouns though, because you have the two types of adjectives (い and な adjectives) that behave slightly differently.
</p>

<p>
  If you want to join an い adjective you need to put that adjective into the て form. Doing this is easier than the て form for verbs because
  the endings are all the same. In order to put an い adjective into the て form you just drop the last letter and add くて. the formula is written below.
</p>

<p><span class="badge bg-primary">い　adj - <span class="text-decoration-line-through">い</span></span> + くて</p>

<p>
  In order to join な adjectives you also have to put it into the て form, but this is slightly different to い adjectives.
  you put a な adjective into the て form by dropping the な and adding で. the formula is below
</p>

<p><span class="badge bg-primary">な　adj - <span class="text-decoration-line-through">な</span></span> + で</p>


<p>To join the adjectives you just put the non-last one into the て form and that's it. Below are some examples you can see
  with the example of noisy and lively if you switch them around they're slightly different. </p>

  <h4>Examples</h4>
  <ul>
    <li>大きくて高い - big and tall</li>
    <li>静かで小さい - quiet and small</li>
    <li>賑やかでうるさい - lively and noisy</li>
    <li>うるさくて賑やか - noisy and lively</li>
  </ul>

</section>
