<h2>Saying What it is</h2>

<h3 id="what-it-is">X is Y</h3>

<p>
In the previous lesson you learnt how to say who you are using the sentense (name) <span lang="jp">です</span>. this literally means "it is (name)". In spoken
japanese it is very common to leave out personal pronouns. so saying "it is Matthew" is enough instead of saying "I am matthew"
</p>
<p>
To say I am Matthew you can say <span lang="jp">わたし は matthew です</span>. this follows the similar format as above with some extra words. the word <span lang="jp">わたし</span> means "I". After the word "I"
is another very <span lang="jp">は</span>. Even though this hiragana character is normally ready out as "ha" when using it as a particle you read it out as "wa". So the sentence above is ready out
as "watashi wa matthew desu". As mentioned previously the first part before the name is normally left out.
</p>

<div class="sentence">
<p class="sentence_japanese" lang="jp">X は Y です</p>
<p class="sentence_english">X is Y</p>
</div>

<p id="example-1">This same sentence structure can be used to say many things. below are a few examples of what you can say using the sentence structure </p>

<span lang="jp">これ は ほん です</span> - this is a book
<span lang="jp">いま は さんじ です</span> - it is 3 o clock now (now is 3 o clock literally)
<span lang="jp">イギリスじん です</span> - I am english

<p>
Above are some examples of sentences you can form using the grammar structure. In future lessons you'll learn how to count and tell the time, and learn how to use the words
for "this" and "that" properly.
<p>

<p>Japanese doesn't usually use space characters between words, however I've inserted them to make it easier to read for beginners</p>

<p>Notice how the word for England is written in katakana, a lot of foreign place names are written in katakana because they're foreign. There are a few exceptions.
e.g. China, Korea and Taiwan have kanji for their country names</p>

<p>
In future lessons we'll cover how to say the negative form (X is not Y) and also the past tense (X was Y). This will be covered in later lessons as there are a
few intricacies when using adjectives. Also a few ways of doing this depending on formality
</p>

<h3 id="is-it-really">Is it really?</h3>

<p>
Above you learnt how to say what something is, you may also want to ask that as a question. e.g. "Is it 3 o clock?", "is this a book?", "are you english?".
In japanese this is quite simple. you can use the same sentence as above and just add the particle か at the end of it. When asking a question you normally raise
the intonation of your voice at the end.
<p>

<span lang="jp">これ は ほん ですか？</span> -  is this a book?
<span lang="jp">いま は さんじ ですか？</span> - is it 3 o clock now?
<span lang="jp">がくせい ですか？</span> - are you a student?
