<h2 id="getting-started">Getting Started With Japanese</h2>

<h3>Common Phrases</h3>
<p>
Before going into initial grammar points and making sentences it is very useful to learn the basic phrases that you will probably
hear everyday in Japan.
</p>

<table class="table caption-top vocabulary-list">
  <caption>Meeting Someone</caption>
  <tr>
    <th>Nice to meet you</th><td>はじめまして</td><td>hajimemashite</td>
  </tr>
  <tr>
    <th>Good morning</th><td>おはようございます</td><td>ohayougozaimasu</td>
  </tr>
  <tr>
    <th>Good afternoon(hello)</th><td>こんにちは</td><td>konnichiwa</td>
  </tr>
  <tr>
    <th>Good evening</th><td>こんばんは</td><td>konbanwa</td>
  </tr>
    <tr>
    <th>Good night</th><td>おやすみなさい</td><td>oyasuminasai</td>
  </tr>
</table>

<p>
In Japanese there are often multiple ways of saying something depending on the level of formatlity that you want to convey and the specific
context you are in. Formality is quite often decided depending on if someone is socially above or below you. If you are talking to someone
who is older than you or is more senior than you then you should use the more formal versions.
</p>

<table class="table caption-top vocabulary-list">
  <caption>Apologizing</caption>
  <tr>
    <th>excuse me (sorry), Sorry (formal)</th><td>すみません</td><td>sumimasen</td>
  </tr>
  <tr>
    <th>excuse me (leaving the office)</th><td>しつれいします</td><td>shitsureishimasu</td>
  </tr>
  <tr>
    <th>sorry (informal) (when you've done something wrong)</th><td>ごめんなさい</td><td>gomennasai</td>
  </tr>
</table>

<table class="table caption-top vocabulary-list">
  <caption>Expressing Gratitude</caption>
  <tr>
    <th>Thanks (short informal)</th><td>どうも</td><td>doumo</td>
  </tr>
  <tr>
    <th>Thank you</th><td>ありがとう</td><td>arigatou</td>
  </tr>
  <tr>
    <th>Thank you very much (formal)</th><td>どうも ありがとう ございます</td><td>doumo arigatou gozaimasu</td>
  </tr>
</table>


<table class="table caption-top vocabulary-list">
  <caption>Saying Bye</caption>
  <tr>
    <th>See you</th><td>またね</td><td>matane</td>
  </tr>
  <tr>
    <th>See you</th><td>じゃあまた</td><td>jaamata</td>
  </tr>
  <tr>
    <th>farewell</th><td>さようなら</td><td>sayounara</td>
  </tr>
</table>

<p>
  On top of these really common words there are some very common set phrases that are used when e.g. leaving or arriving
  at your house, or before and after you eat a meal. These phrases are set and very common, they also quite often have set phrases.
</p>

<table class="table caption-top vocabulary-list">
  <caption>Leaving the House</caption>
  <tr>
    <th>I'm leaving</th><td>いってきます</td><td>ittekimasu</td>
  </tr>
  <tr>
    <th>I'm leaving (response)</th><td>いってらしゃい</td><td>itterashai</td>
  </tr>
</table>

<table class="table caption-top vocabulary-list">
  <caption>Arriving at the House</caption>
  <tr>
    <th>I'm back</th><td>ただいま</td><td>tadaima</td>
  </tr>
  <tr>
    <th>Welcome back</th><td>おかえりなさい</td><td>okaerinasai</td>
  </tr>
</table>

<table class="table caption-top vocabulary-list">
  <caption>Before and after a meal</caption>
  <tr>
    <th>Let's eat</th><td>いただきます</td><td>itadakimasu</td>
  </tr>
  <tr>
    <th>Thanks for the meal</th><td>ごちそうさまでした</td><td>gochisousamadeshita</td>
  </tr>
</table>

<h3 id="introduction">Introducing yourself</h3>

<h4>My name is</h4>
<p>
There are several ways of saying what your name is. below is the simplest. This is quite an informal way of saying what your name is.
</p>

<div class="sentence">
<p>Japanese</p>
<p class="sentence_japanese"><span class="gap">name</span> です</p>
<p>English</p>
<p class="sentence_english">I'm <span class="gap">name</span></p>
</div>

<p>
When you first meet someone is it very common to say はじめまして as an opening phrase, which loosely translates as "Nice to meet you" then afterwards
you would normally say よろしくおねがいします which kind of means "Please be kind to me". after you've said what your name is.
</p>

<h5>Example Dialogue</h5>
<div class="dialogue">
  <div class="dialogue_message sender">
    <p class="dialogue_message--japanese fs-5 fw-normal">はじめまして</p>
    <p class="dialogue_message--english fs-6 fw-light">Nice to meet you</p>
  </div>
    <div class="dialogue_message receiver">
    <p class="dialogue_message--japanese fs-5 fw-normal">はじめまして</p>
    <p class="dialogue_message--english fs-6 fw-light">Nice to meet you</p>
  </div>
  <div class="dialogue_message sender">
    <p class="dialogue_message--japanese fs-5 fw-normal">たなかです</p>
    <p class="dialogue_message--english fs-6 fw-light">I'm Tanaka</p>
  </div>
  <div class="dialogue_message sender">
    <p class="dialogue_message--japanese fs-5 fw-normal">よろしくおねがいします</p>
    <p class="dialogue_message--english fs-6 fw-light">Please be kind to me</p>
  </div>
</div>
