<h2>Hiragana</h2>

<h3 id="vowels">A,I,U,E,O</h3>

<p>
Japanese has 3 different writing systems. the easiest and most important to learn is
hiragana. This is the first writing system that learners use and the most commonly used. The
other two writing systems to learn are Katakana and Kanji. We'll come onto them afterwards.
Both Hiragana and Katakana letters work are sorted into a table. all of the letters end in
either a, i, u, e, o. there are only a few exceptions to this. Below are the first few letters to learn,
along with how they are pronounced using english words for examples.
</p>


<table class="table vocabulary-list">
  <tr>
    <th>a</th><td>あ</td><td>a as in b<strong>a</strong>t</td>
  </tr>
  <tr>
    <th>i</th><td>い</td><td>pronounced as ee as in s<strong>ee</strong>d</td>
  </tr>
  <tr>
    <th>u</th><td>う</td><td>u as in c<strong>u</strong>t</td>
  </tr>
  <tr>
    <th>e</th><td>え</td><td>e as in b<strong>e</strong>t</td>
  </tr>
  <tr>
    <th>o</th><td>お</td><td>o as in l<strong>o</strong>t</td>
  </tr>
</table>

<p>
Below are some words to practise reading. using just the letters above. you'll notice
that there are some words like いい where the same letter is used twice. it is important to
pronounce this words for twice as long as just い. otherwise the meanings can be different.
</p>

<p>Japanese is a pitch based language and not a stressed based language. this means that each letter
is pronounced for the same amount of time. English is a stress based language. so if you say a word in english
such as "tomorrow" the emphasis is on the "mo" sylable. treating each letter as having a single 'beat' will help
with pronouncing japanese words.</p>

<ul class="list word-cloud">
  <li><strong>いえ</strong> House</li>
  <li><strong>あお</strong> Blue</li>
  <li><strong>いいえ</strong> No</li>
  <li><strong>あい</strong> love</li>
  <li><strong>あう</strong> to meet</li>
  <li><strong>いう</strong> to say</li>
  <li><strong>いい</strong> good</li>
  <li><strong>え</strong> picture</li>
  <li><strong>うえ</strong> above/up</li>
</ul>


<h3 id="K-row">Ka, Ki, Ku, Ke, Ko</h3>

<p>The next row is the K row, which follows the same vowel pattern as the previous row. </p>

<table class="table vocabulary-list">
  <tr>
    <th>ka</th><td>か</td><td>ka as in <strong>ca</strong>t</td>
  </tr>
  <tr>
    <th>ki</th><td>き</td><td>ki as in <strong>ke</strong>y</td>
  </tr>
  <tr>
    <th>ku</th><td>く</td><td>ku as in <strong>coo</strong>k</td>
  </tr>
  <tr>
    <th>ke</th><td>け</td><td>ke as in <strong>ke</strong>tchup</td>
  </tr>
  <tr>
    <th>ko</th><td>こ</td><td>ko as in <strong>co</strong>mbine</td>
  </tr>
</table>

<ul class="list word-cloud">
  <li><strong>かう</strong> To buy</li>
  <li><strong>えき</strong> station</li>
  <li><strong>くうき</strong> air/atmostphere</li>
  <li><strong>あか</strong> red</li>
  <li><strong>こうこう</strong> high school</li>
</ul>


<h3 id="S-row">Sa, Shi, Su, Se, So</h3>

<table class="table vocabulary-list">
  <tr>
    <th>Sa</th><td>さ</td><td>sa as in <strong>sa</strong>lsa</td>
  </tr>
  <tr class="table-danger">
    <th>Shi</th><td>し</td><td>shi as in <strong>shee</strong>p</td>
  </tr>
  <tr>
    <th>Su</th><td>す</td><td>su as in <strong>sou</strong>p</td>
  </tr>
  <tr>
    <th>Se</th><td>せ</td><td>se as in <strong>se</strong>t</td>
  </tr>
  <tr>
    <th>So</th><td>そ</td><td>so as in <strong>so</strong>ldier</td>
  </tr>
</table>

<p>
The next row is above. notice how I've highlighted the "Shi" row because it is "Shi" and not "si".
there is no "si" letter in japanese.
</p>

<ul class="list word-cloud">
  <li><strong>かさ</strong> Umbrella</li>
  <li><strong>おさけ</strong> alcohol</li>
  <li><strong>すし</strong> sushi</li>
  <li><strong>いす</strong> chair</li>
  <li><strong>せかい</strong> world</li>
</ul>


<h3 class="coming-soon">Rest of the Alphabet Coming Soon</h3>
{#
<h3 id="T-row">Ta, Chi, Tsu, Te, To</h3>
<h3 id="N-row">Na, Ni, Nu, Ne, No</h3>
<h3 id="H-row">Ha, Hi, Hu, He, Ho</h3>
<h3 id="M-row">Ma, Mi, Mu, Me, Mo</h3>
<h3 id="Y-row">Ya, Yu, Yo</h3>
<h3 id="R-row">Ra, Ri, Ru, Re, Ro</h3>
<h3 id="last-row">Wa, Wo, N</h3> #}
