<h2 id="heading">Numbers</h2>

<p>This lesson goes through counting in Japanese</p>

<h3 id="ten">Counting up to 10</h3>

<table class="table vocabulary-list">
  <tr>
    <th>1</th><td>いち</td><td>ichi</td>
  </tr>
  <tr>
    <th>2</th><td>に</td><td>ni</td>
  </tr>
  <tr>
    <th>3</th><td>さん</td><td>san</td>
  </tr>
  <tr>
    <th>4</th><td>よん</td><td>yon</td>
  </tr>
  <tr>
    <th>5</th><td>ご</td><td>go</td>
  </tr>
  <tr>
    <th>6</th><td>ろく</td><td>roku</td>
  </tr>
  <tr>
    <th>7</th><td>なな</td><td>nana</td>
  </tr>
  <tr>
    <th>8</th><td>はち</td><td>hachi</td>
  </tr>
  <tr>
    <th>9</th><td>きゅう</td><td>kyuu</td>
  </tr>
  <tr>
    <th>10</th><td>じゅう</td><td>juu</td>
  </tr>
</table>


<h3 id="hundred">Counting up to 100</h3>

<p>In order to count upto 100 you use a similar system to english where you put the tens first and then the unit. However
in English the numbers in the tens have different words such as twenty, thirty etc. In japanese you just say two ten, three ten etc. </p>

<p>
  Twenty in japanese would be にじゅう, and thirty would be さんじゅう. Once you have specified the ten you can then add the unit afterwards.
  So 43 as an example would be よんじゅうさん.
</p>


<h3 id="thousand">Counting up to 1000</h3>

<p>
When counting the numbers above are generally the only ones you need to know. with a few exceptions when joining them. Below are some of the rules when
counting to higher numbers.
</p>

<p>
The word order for numbers is similar to english e.g. you would say "5 100 2 10 5" for 525. so 525 would be ごひゃくにじゅうご. There are a few special readings
when combining the numbers with the orders of 10.e.g. さんひゃく is read as さんびゃく (with a びゃ instead of ひゃ). Below is a table containing the words for the 100s
</p>

<table class="table vocabulary-list">
  <tr>
    <th>100</th><td>ひゃく</td><td>hyaku</td>
  </tr>
  <tr>
    <th>200</th><td>にひゃく</td><td>nihyaku</td>
  </tr>
  <tr class="table-danger">
    <th>300</th><td>さんびゃく</td><td>sanbyaku</td>
  </tr>
  <tr>
    <th>400</th><td>よんひゃく</td><td>yonhyaku</td>
  </tr>
  <tr>
    <th>500</th><td>ごひゃく</td><td>gohyaku</td>
  </tr>
  <tr class="table-danger">
    <th>600</th><td>ろっぴゃく</td><td>roppyaku</td>
  </tr>
  <tr>
    <th>700</th><td>ななひゃく</td><td>nanahyaku</td>
  </tr>
  <tr class="table-danger">
    <th>800</th><td>はっぴゃく</td><td>happyaku</td>
  </tr>
  <tr>
    <th>900</th><td>きゅうひゃく</td><td>kyuuhyaku</td>
  </tr>
  <tr>
    <th>1000</th><td>せん</td><td>sen</td>
  </tr>
</table>

<h3 id="million">Counting up to 1,000,000</h3>

<table class="table vocabulary-list">
  <tr>
    <th>1000</th><td>せん</td><td>sen</td>
  </tr>
  <tr>
    <th>2000</th><td>にせん</td><td>nisen</td>
  </tr>
  <tr class="table-danger">
    <th>3000</th><td>さんぜん</td><td>sanzen</td>
  </tr>
  <tr>
    <th>4000</th><td>よんせん</td><td>yonsen</td>
  </tr>
  <tr>
    <th>5000</th><td>ごせん</td><td>gosen</td>
  </tr>
  <tr>
    <th>6000</th><td>ろくせん</td><td>rokusen</td>
  </tr>
  <tr>
    <th>7000</th><td>ななせん</td><td>nanasen</td>
  </tr>
  <tr class="table-danger">
    <th>8000</th><td>はっせん</td><td>hassen</td>
  </tr>
  <tr>
    <th>9000</th><td>きゅうせん</td><td>kyuusen</td>
  </tr>
  <tr>
    <th>10000</th><td>いちまん</td><td>ichiman</td>
  </tr>
</table>

<p>
  notice how 10,000 is いちまん　and not just まん whereas with the other numbers you say just せん　and ひゃく. generally
  まん always has a number in front of it. To say 100,000 you put 10 in front of it so it is じゅうまん.
  a million is 100 * 10,000 so you say ひゃくまん.
</p>
