<h2 id="heading">Describing what something seems like</h2>

<p>In this section I'm going to go through how to say what something looks like and how to describe what you can see using a lot of vocabulary
  that you should already know. So if someone is eating some food in front of you then you can say that food "looks" delicious. If someone eats and
  you just say "美味しい" then they might assume you stole some.
</p>

<section>
  <h3 id="section-1">Looks like with adjectives</h3>
  <p>If you want to describe what something looks like that you can see such as "that food looks delicious" you the following grammar construction.</p>

  <p><span class="badge bg-primary">い　adj - <span class="text-decoration-line-through">い</span></span> + そうです</p>
  <p><span class="badge bg-primary">な　adj - <span class="text-decoration-line-through">な</span></span> + そうです</p>

  <div class="alert alert-warning" role="alert">
    <strong>Exceptions! </strong>
    The adjective いい becomes よさそうです
  </div>

  <div class="alert alert-danger" role="alert">
    <strong>Danger! </strong>
    don't use the かわいそう to mean that it looks cute. かわいそう is another word on it's own and means that
    something is pitiful.
  </div>

  <h4>Examples</h4>
  <ul>
    <li>べ物を美味しそう - The food looks delicious</li>
  </ul>

</section>

<section>
  <h3 id="section-2">Doesn't Looks like with adjectives</h3>
  <p>If you want to describe what something looks like that you can see such as "that food looks delicious" you the following grammar construction.</p>

  <p><span class="badge bg-primary">い　adj nai form - <span class="text-decoration-line-through">い</span></span> + さそうです</p>
  <p><span class="badge bg-primary">な　adj - <span class="text-decoration-line-through">な</span></span> + じゃな / ではな + さそうです</p>

  <h4>Examples</h4>
  <ul>
    <li>食べ物を美味しくなさそう - The food doesn't look delicious</li>
  </ul>

  <div class="alert alert-success" role="alert">
    <strong>Tip! </strong>
    You can also use the looks like structures to modify nouns. This then mehaves like a な adjective.
    e.g. He is eating seemingly delicious food - 彼は美味しそうな食べ物をたべています
  </div>

  <div class="alert alert-warning" role="alert">
    <strong>Warning! </strong>
    Be careful with the word つまらない meaning bored because it's an い adjective. you can say he looks bored
    by saying 彼はつまらなそうです but if you want to say that he doesn't look bored you would say
    彼はつまらなくなさそうです. you would NOT say 彼はつまらなさそうです
  </div>

</section>

<hr>

<section>
  <h3 id="section-3">Looks like with verbs</h3>
  <p>If you want to make a seems like/looks like using verbs you can still use そうです but you have to use the masu stem. An example of
  where you would use this is if you wanted to say something like "it looks like it's going to rain"</p>

  <span class="badge bg-primary">V - <span class="text-decoration-line-through">ます</span></span> +そうです<br>

  The negative form if something doesn't seem like it's going to happen is

  <span class="badge bg-primary">V - <span class="text-decoration-line-through">ます</span></span> + そうも + ない / ありません<br>

</section>

<hr>

<section>
  <h3 id="section-4">Looks like with nouns</h3>
  <p>The structures above are used to describe what something appears like using adjectives. such as
    that food looks delicious. or the coat looks warm. The structure above however doesn't work with
    nouns. In order to say that something looks like something there are two different ways that you can say this
    but they have different nuances.
  </p>
  <h4>みたい</h4>
  <h4>のようだ</h4>
  <h4>っぽい</h4>
  <h4>らしい</h4>

</section>
