<h2>Shopping and Eating</h2>

<h3>Dealing with Prices</h3>
"currency", "how much is this?", "that's cheap", "that's expensive".

<h3>Clothes</h3>
different items of clothing
Can I buy x amount of These
I wear ... (different wearing verbs)
I don't wear ...
Please can I have ...

<h3>Food</h3>
please can I have ...
chopsticks. knife and fork.
do you have an english menu?
Where is the toilet?
