<h2>Grammar Structures JLPT N5</h2>
<ul>
  <li>X wa Y desu - X is Y</li>
  <li>X wa Y da - X is Y (informal)</li>
  <li>(verb stem) masu - I do ... </li>
  <li>(verb stem) mashita - I did ...</li>
  <li>(verb stem) masen - I do not do ...</li>
  <li>(verb stem) masen deshita - I did not do ...</li>
  <li>(verb dictionary form) - I do ... (informal)</li>
  <li>(verb nai form) - I do not ... (informal)</li>
  <li>(ta form) - I did ... (informal)</li>
  <li>(verb nai form stem) nakatta - I did not ... (informal)</li>
  <li>(na adjective stem) desu - It is ...</li>
  <li>(na adjective stem) deshita - It was ...</li>
  <li>(na adjective stem) janai desu - It is not ...</li>
  <li>(na adjective stem) janai deshita - It was not ...</li>
  <li>(i adjective) desu - It is ...</li>
  <li>(i adjective stem) katta desu - It was ...</li>
  <li>(i adjective stem) kunai desu - It is not ...</li>
  <li>(i adjective stem) kunatta desu - It was not ...</li>
  <li>(verb stem form) masenka - shall we do ...</li>
  <li>(verb stem form) mashouka - lets do ... </li>
  <li>(verb stem) tai desu - I want to ...</li>
  <li>(verb stem) takunai desu - I don't want to ...</li>
  <li>(verb stem) takatta desu - I wanted to ...</li>
  <li>(verb stem) takunakatta desu - I didn't want to ...</li>
  <li>X no hou ga Y yori (property) desu - X is more (property) than Y</li>
  <li>(group) no naka de X ga ichiban (property) desu - out of (group) X is the most (property)</li>
  <li>(object) ga ichiban (property) desu - object is the most property</li>
  <li>kono naka de ... - out of these ...</li>
  <li>(verb dictionary form) kata - The way of doing something</li>
  <li>(verb dictionary form) no ga jouzu/heta/nigatte/tokui desu - I am good/unskilled/bad/skilled at ...</li>
  <li>(verb dictionary form) no ga jouzu/heta/nigatte/tokui janai desu - I am not good/unskilled/bad/skilled at ... (informal)</li>
  <li>(verb dictionary form) no ga jouzu/heta/nigatte/tokui dewa arimasen - I am not good/unskilled/bad/skilled at ...</li>
  <li>(nai form) de kudesai - Please don't do ...</li>
  <li>(object) o kudesai - (object) please</li>
  <li>(te form) kudesai - Please do ...</li>
  <li>(te form) i masu - I am doing ...</li>
  <li>(te form) mo ii desu ka - Please may I ...</li>
  <li>(te form) mo ii desu - You may ...</li>
  <li>(te form) wa ikemasen - You must not ... </li>
  <li>(te form)(masu form) - I did ... and ...</li>
  <li>(object) ga ii desu - (object) is good</li>
  <li>(noun) ni shimasu - I decided on (noun)</li>
</ul>

<h3>New grammars to learn</h3>
<ul>
  <li>(ta form) hou ga ii - You should ...</li>
  <li>(nai form) hou ga ii - You shouldn't ...</li>
</ul>

<h2>Topics</h2>
<ul>
  <li>Introductions</li>
  <li>Family Members</li>
  <li>Places</li>
  <li>Holiday</li>
  <li>Food</li>
  <li>Directions</li>
  <li>Weather</li>
  <li>Body Parts</li>
  <li></li>
</ul>


<h2>Kanji</h2>
<ul>
  <li>Numbers</li>
  <li>Time periods</li>
  <li>Family</li>
  <li>Placement</li>
  <li>Seasons</li>
  <li>Cardinal Directions</li>
  <li></li>
</ul>
