<h2>Ta form</h2>

<p>The ta form is another conjugation of a verb. This is used when talking informally as the past tense on it's own.
You get the ta form by converting the verb to the te form and then just change te/de to ta/da</p>

<p>Some example sentences below of using the ta form.</p>

<ul>
  <li>terebi o mita - (terebi o mimashita) - I watched TV</li>
  <li>ongaku o kiita (ongaku o kikimashita) - I listened to music</li>
  <li>oyoida - (oyogimashita) - I swam</li>
  <li>sampo shita - (sampo shimashita) - I walked</li>
  <li>takusan tabeta - (takusan tabemashita) - I ate a lot</li>
</ul>


<h3>Exercise Practise</h3>
miru - minai
akeru - akenai
sumu - sumanai
kakeru - kakenai
haku - hakanai
hajimeru - hajimeranai
tsukuru - tsukuranai
sentaku suru - sentaku shinai
arau - arawanai
kuru - konai
wasureru - wasurenai
aru - nai
omou - omowanai
motte iku - motte ikanai
hairu - hairanai
kaeru - kaeranai




<h3>Have you ever ...</h3>

<p>If you use the ta form on it's own it is usually used in casual conversation. However you can usually use it in the middle of the sentence.
If you use the structure below it is a way of saying "Have you done something". It implies the word "ever" e.g. have you ever done X. </p>

<p> (ta form) koto ga arimasu ka? </p>
<p> (ta form) koto ga aru? </p>

<ul>
  <li>nihon ni itta koto ga arimasu ka - have you been to Japan?</li>
  <li>Matrix wo mita koto ga aru - have you seen the matrix? </li>
  <li>matsuri ni itta koto ga arimasen - I have never been to a festival</li>
</ul>
