

<h2>Te form</h2>
<p>In this lesson we're going to learn a new conjugation. So far we have learnt the dictionary
form and the stem form. The next form to learn is the Te form. This is used when making commands along with other uses</p>

<h3>How to convert a verb to the te form</h3>

<h4>Ichidan Verbs (Ru verbs)</h4>
<p>This type of verb is the easiest to conjugate in order to conjugate this you simply remove the "ru" and add "te"</p>
<h5>Examples</h5>
<ul>
  <li>taberu - tabete - to eat</li>
  <li>miru - mite - to see</li>
  <li>neru - nete - to sleep</li>
  <li>okiru - okite - to wake up</li>
</ul>

<h4>Godan Verbs (U verbs)</h4>
<p>With this verb type you need to use a table to change the endings. </p>
<ul>
  <li>u, tsu, ru - tte</li>
  <li>mu,bu, nu - nde</li>
  <li>ku - ite</li>
  <li>gu - ide</li>
  <li>su - shite</li>
</ul>

<h5>Examples</h5>
<ul>
  <li>au - atte - to meet</li>
  <li>matsu - matte - to wait</li>
  <li>kaeru - kaette - to return home</li>
  <li>nomu - nonde - to drink</li>
  <li>asobu - asonde - to play</li>
  <li>shinu - shinde - to die</li>
  <li>kiku - kiite - to listen</li>
  <li>oyogu - oyoide - to swim</li>
  <li>hanasu - hanashite - to speak</li>
</ul>


<h4>Irregular Verbs</h4>

<p>These are the verbs that don't work like the other verbs and are exceptions to the normal rules</p>
<ul>
  <li>suru - shite - to do</li>
  <li>kuru - kite - to come</li>
</ul>

<h3>Using the Te form</h3>

<p>Now that we've learnt how to tern verbs into the te form it's time to learn how it's actually used.
Below are several different patterns that use the te form</p>

<p>
Please do ... - (te form) kudasai
You must not ... - (te form) ha(wa) ikemasen
to try to ... - (te form) miru/mimasu
currently doing ... - (te form) iru/imasu
</p>

<h4>te form for progress action, habitual action and occupation</h4>

<p>when looking at the structures above the iru/imasu form may not make sense. In english this is the difference between saying that you do something and are do<b>ing</b>
something</p>

<p>Example</p>
<ul>
  <li>terebi wo mimasu - I will watch television</li>
  <li>terebi wo mite imasu - I am watching television</li>
</ul>

<p>Some more example sentences<p>
<ul>
  <li>ima nani wo shite imasu ka - what are you doing now? </li>
  <li>kouen de sampo shite imasu - I am walking in the park</li>
  <li>mainichi asagohan wo tabete imasu - I am eating breakfast everyday</li>
</ul>

<p>If you want to say your job there are 3 ways of saying what you do. if you are a profession like a doctor or a teacher
then you can just say "I'm doing teaching", "I'm doing doctoring". You can say you work at a place e.g. a school or you can say you're employed by a company.
Examples are below.</p>

<ul>
  <li>sensei wo shite imasu - I am a teacher</li>
  <li>kono tatemono de hataraiteimasu - I work in/at this building</li>
  <li>Starbuck ni tsutomete imasu - I work for starbucks</li>
</ul>

<p>This uses the 3 different verbs</p>
<ul>
  <li>suru - to do</li>
  <li>(de) hataraku - to work (in/at)</li>
  <li>(ni) tsutomeru - to be employed (by)</li>
</ul>

<h4>Please do ..</h4>
<p>Another use of the te form is to ask someone to do something. WHen talking sometimes people drop the kudasai part and just use the te form on it's own. Below are
some examples of sentences with verbs first followed by how to use it as a command</p>

<ul>
  <li>yameru (ichidan) -> yamete kudasai - please stop (doing something)</li>
  <li>tomeru (ichidan) -> tomete kudasai - please stop (moving)</li>
  <li>toru (godan) -> shashin wo totte kudasai - please take a photo</li>
  <li>suru (irregular) -> shukudai wo shite kudasai - please do the homework </li>
  <li>kaeru (godan) -> kaette kudasai - please come home</li>
  <li>magaru (godan) -> koko no kado wo hidari ni magatte kudasai - please turn left at this corner</li>
</ul>
