
  <header>
  <h1 id="test">Test Lesson Page</h1>
  <p>
  A page to put content that is still being tested or is just a work in progress before being moved into another lesson or before
  being re-organised
  </p>
  </header>
  <hr>

  <h2> Test Lessons </h2>
  <section id="te-form">
    <h3>Te Form</h3>

    <p>
      After learning how to turn verbs from the default non-past form to the past and polite forms another conjugation which you'll need to know
      is the te form. Before going into the details of how to turn a verb into the te form I think it's useful to see a few of the uses of the te form.
      Below are a few sentences which use the te form of the verb たべる (to eat). I'll cover these grammar structures in more details later. These are just to
      give some reasons why learning the verb te form is useful.
    </p>

    <ul class="list word-cloud">
      <li>
        <strong>たべてください</strong><br>Please eat</li>
      <li>
        <strong>たべてもいいですか</strong><br>Please may I eat</li>
      <li>
        <strong>たべてはいけません</strong><br>You must not eat</li>
      <li>
        <strong>たべていえへかえりました</strong><br>I ate and went home</li>
    </ul>

    <p>
    From looking at the sentences above you can see that the te form is useful for a variety of different sentence structures.
    Next step is to go through the different verb types and explain how to convert from the non-past forms to the te form. We're going
    to start by converting ichidan (ru verbs) as they're the easiest.
    </p>

    <h4>Ichidan Verbs</h4>

    <p>
      In order to convert a ichidan verb from the non-past form to the te form you remove the ru る from the end
      and add the letter て.If you are used to using the polite non-past form then instead of removing the ru る then remove
      the masu ます instead.
    </p>

    <table class="table vocabulary-list caption-top">
      <caption>Examples</caption>
      <tr>
        <th>Verb Meaning</th>
        <th>non-past</th>
        <th>te form</th>
      </tr>
      <tr>
        <td>To Eat</td>
        <td>食べ<strong>る</strong>
        </td>
        <td>たべ<strong>て</strong>
        </td>
      </tr>
      <tr>
        <td>To Sleep</td>
        <td>ね<strong>る</strong>
        </td>
        <td>ね<strong>て</strong>
        </td>
      </tr>
      <tr>
        <td>To wake up</td>
        <td>おき<strong>る</strong>
        </td>
        <td>おき<strong>て</strong>
        </td>
      </tr>
    </table>

    <h4>Godan Verbs</h4>

    <p>
      After getting used to converting ichidan verbs the next step is to learn how to convert the godan verbs. These are a bit trickier
      because the ending changes depending on the letter that the verb ends in. It isn't just a case of replacing the last letter in all the
      cases. Below is the table of rules on how to convert. I'll go through with examples afterwards.
    </p>

    <table class="table vocabulary-list caption-top">
      <caption>Rules</caption>
      <tr>
        <th>Verb Ending</th>
        <th>Rule</th>
        <th>Example</th>
      </tr>
      <tr>
        <td>る つ う</td>
        <td>replace final syllable with <strong>って</strong>
        </td>
        <td>のる <i class="bi bi-arrow-right" aria-label="becomes"></i> のって</td>
      </tr>
      <tr>
        <td>く</td>
        <td>replace く with <strong>いて</strong>
        </td>
        <td>かく <i class="bi bi-arrow-right" aria-label="becomes"></i> かいて</td>
      </tr>
      <tr>
        <td>す</td>
        <td>replace す with <strong>して</strong>
        </td>
        <td>はなす <i class="bi bi-arrow-right" aria-label="becomes"></i> はなして</td>
      </tr>
      <tr>
        <td>ぶ む ぬ</td>
        <td>replace the final syllable with <strong>んで</strong>
        </td>
        <td>のむ <i class="bi bi-arrow-right" aria-label="becomes"></i> のんで</td>
      </tr>
      <tr>
        <td>ぐ</td>
        <td>replace ぐ with <strong>いで</strong>
        </td>
        <td>およぐ <i class="bi bi-arrow-right" aria-label="becomes"></i> およいで</td>
      </tr>
    </table>
  </section>

  <hr>

  <section id="ta-form">
    <h3>た form</h3>

    <p>if you want to use the informal past tense. </p>

    <p>。。たことがありません - I have never ...</p>
  </section>

  <hr>

  <section id="because">
    <h3>Because (から)</h3>

    <p>In this lesson we're going to learn how to state reasons. </p>

    <p>(explanation)から, (situation).</p>

    <p>
    さむいですからでかけません<br>
    I won't go out because it's cold.
    </p>

    <p>
    あついですからそとにいきます<br>
    I will go outside because it's hot.
    </p>

    <p>You'll notice that the order of the japanese to english is reversed, with the reason coming before the actual result. So
    it's easier to think of the word as meaning "therefore" instead of "because". e.g. It's cold, therefore I won't go out.</p>
  </section>

  <hr>

  <section id="already">
    <h3>Already and not yet</h3>

    <p>already is もう with a past tense sentence</p>
    <p>not yet まだ with a negative sentence</p>
  </section>

  <hr>

  <section id="comparison-two">
    <h3>Comparison between two items</h3>

    <p>A のほうが B より (property)</p>

    <p>
    きょうのほうがきのうよりあついです<br>
    Today is hotter than yesterday
    </p>

    <p>
    このいえのほうがそのいえよりおおきいです<br>
    This house is bigger than that house
    </p>

    <p>
    This structure can be quite flexible. The greater and lesser than parts ほう and より can be in different orders. The
    structure can also work with only one of them as well, if the other part is obvious.You can also expand on this のほう structure
    and put it into a question like so. Below is an example structure and how to use it.
    </p>

    <p>A と B と どちらのほうが adjective ですか.<br>
        Which is more (adjective), A or B?
    </p>

    <p>たまごとたまねぎとどちらのほうがおいしい<br>
      egg or onion, which is more delicious?
    </p>

    <p>たまごのほうがおいしい<br>
      Egg is more delicious
    </p>
  </section>

  <hr>

  <section id="planning">
    <h3>Plan to/Intend to つもり</h3>

    <p> verb (present tense short form) + つもりです</p>

    <p>
    そうじするつもりです<br>
    I plan on cleaning
    </p>

    <p>
    こないつもりです<br>
    I don't plan to come
    </p>
  </section>

  <hr>

  <section id="anything">
    <h3>Any/Some thing/one/where</h3>

    <p>So far we have learnt the question words, what (なに), who (だれ) and where (どこ). To turn these words into the "some" versions you just add
    the letter か to it. </p>

    <p>These are the words that you would use for positive sentences. These then behave a bit like nouns.</p>

    <table class="table vocabulary-list">
      <tr>
        <th>Something/Anything</th>
        <td>なにか</td>
      </tr>
      <tr>
        <th>Someone/Anyone</th>
        <td>だれか</td>
      </tr>
      <tr>
        <th>Somewhere/Anywhere</th>
        <td>どこか</td>
      </tr>
    </table>

    <p>
    どこかへいきますか<br>
    Did you go anywhere?
    </p>

    <p>
    どこかへいきます<br>
    I will go somewhere
    </p>

    <p>
    なにかしました<br>
    I did something
    </p>

    <p>
    なにかしましたか<br>
    did you do anything?
    </p>
  </section>

  <hr>

  <section id="hard-easy">
    <h3>Saying something is [Easy to / Hard to]</h3>

    <p>If you want to say if something is easy or hard to do below is a formula to indicate this</p>

    <p>
      <span class="badge bg-primary">V - <span class="text-decoration-line-through">ます</span></span> + やすいです<br>
      ... is easy to do
    </p>

    <p>
      <span class="badge bg-primary">V - <span class="text-decoration-line-through">ます</span></span> +にくいです<br>
      ... is Physically hard to do
    </p>

    <p>
      <span class="badge bg-primary">V - <span class="text-decoration-line-through">ます</span></span> +ずらいです<br>
      ... is Mentally hard to do
    </p>

        <p>
      <span class="badge bg-primary">V - <span class="text-decoration-line-through">ます</span></span> +ずらいです<br>
      ... is very hard to do (almost impossible)
    </p>

    <h4>Examples</h4>

    <ul>
      <li>これは食べやすいです - This is easy to eat</li>
      <li>日本語はわかりにくいです - Japanese is hard to understand</li>
      <li>葬式に行きづらいです - It is difficult to go to a funeral</li>
      <li>友達の話が信じがたいです - It is very difficult to believe my friends story</li>
    </ul>

    <p>Note talk about にくい vs ずらい<p>
    <p>nikui referring to physically difficult, zurai meaning mentally difficult, gatai means that something is almost impossible
      and is much stronger than the other two
    </p>
    <p>To indicate that something is almost impossible use the term gatai がたい</p>
  </section>

  <hr>

  <section id="want-to">
    <h3>I want to do something</h3>
    <p>
      If you want to say that you want to do something then you can use the following construction.
    </p>

    <p>(masu form without the masu) + たい </p>

    <p>
      Adding たい turns the verb into a noun, so you then add です afterwards
      when speaking formally.
    </p>

    <h4>Examples</h4>
    <ul>
      <li>I want to go - 行きたいです</li>
      <li>I want to eat - 食べたいです</li>
      <li>I want to drink - 飲みたいです</li>
    </ul>

    <p>
      BEWARE: you can only use the たい form when you're talking about what you want to do.
      You cannot use it when talking about what other people want to do. The reason behind this is
      because you can't possibly know for certain what someone else wants to do, so you need to use a
      different sentence structure which uses less certainty.
    </p>
  </section>

  <hr>

  <section id="explaining-things">
    <h3>Explaining things with んです</h3>

    <p>
      So far most sentences that we have formed so far have been reporting things as they happen, and stating
      it as a plain fact in a neutral way, such as 'I want to eat', 'The bus is here', 'That is my car'. Following
      on from these sentences we're going to learn how to turn these kind of sentences into an explanation, by adding some implication.
      The implication changes depending almost entirely on the context. but here is some example sentences with some example meaning assuming
      they're in context.
    </p>
    <ul>
      <li>I want to eat (so can you get me some food)</li>
      <li>The bus is here (so I have to go)</li>
      <li>That is my car (so it shouldn't be driving off?)</li>
    </ul>
    <p>
      You can see in the examples above how in english theses meanings would automatically be implied if they were said within context. In Japanese
      you need to change the sentences sligthtly to explicitely say that you are explaining something and not just stating a fact.
    </p>
    <p>It is also common to use this form when answering questions, because the reason why you're saying something is explaining something
      in response to a question.
    </p>

    <p>To use this form you need to use the short form of the verb (past,present,positive or negative) and put an ん before the です</p>
    <p>たべたいんです - I want to eat (so get me food) </p>
    <p>バスはここにあるんです - The bus is here (the bus is here so I have to go)</p>

    <p>If instead of using it with a verb and using it with an </p>

    <p>In informal settings you can also replace the です for だ the same as you would normally. so a sentence would end in んだ</p>

    <h4>Combining with adjectives</h4>

    <p>
      When adding this explanation form to the end of an adjective it is just works similar to a verb were you just add the ん before the desu.
      This applies in the past, present, positive and negative as well.
    </p>

    <ul>
      <li>悲しいんです - I am sad (with explanation in context)</li>
      <li>悲しくないんです - I am not sad (with explanation in context)</li>
      <li>悲しかったんです - I was sad (with explanation in context)</li>
    </ul>

    <p>When adding this to な adjectives you keep the な when using this form. in most cases usually you would remove it
      but when using the んです form you keep it. In the past tense you can just add the んだ. Below are some examples
    </p>

    <ul>
      <li>しずかなんです - It is quiet(with explanation in context)</li>
    </ul>

    <p>When using nouns you add なん before the です/だ. </p>
    <ul>
      <li>お金なんです - It's Money (so give me some)</li>
      <li>ベジタリアンだったんだ。- I was a vegetarian (so I didn't eat meat)</li>
    </ul>

    <p>In more formal contexts you will often see the ん replaced for の. so the sentences would end in のです. When spoken this is seen as quite formal
      and stiff.
    </p>

    <p>So in broad terms using the constructions above can turn basic fact sentences into explanations that might warrant a reaction, or they can
      simply add a bit more emphasis to sentences.</p>
  </section>

  <hr>

  <section id="should">
    <h3>how to say you 'Should' do something</h3>

    <p>When saying that something should be done there are several different ways of saying "should" depending on the context</p>

    <p>はず is used to describe something that is supposed to be. In either the past or present tense. It isn't used to describe
      what someone should do. You would use this for example with sentences such as "It should be quiet here" or "The train should not be late"
    </p>

    <div class="alert alert-warning" role="alert">
      <strong>Warning!</strong>
      If you want to make it negative you add はずがない. You DO NOT make the verb or thing itself negative and
      then add はず hazu. A common mistake made by Japanese learners.
    </div>

    <h4>Examples</h4>
    <ul>
      <li>ここは<span class="fg" t="しず">静</span>かはずです - It should be quiet here</li>
      <li><span class="fg" t="でんしゃ">電車</span>は<span class="fg" t="おく">遅</span>れるはずがないですす - The train should not be late</li>
    </ul>


    <p>If you want to say what someone else should do then you can use the word べき</p>

    <div class="alert alert-warning" role="alert">
      <strong>Warning!</strong>
      Using this construction to someone can come off as quite bossy. So be careful when using this one.
    </div>
    <p>For する verbs, use すべき rather than するべき.</p>

    <h4>Examples</h4>
    <ul>
      <li><span class="fg" t="しゅくだい">宿題</span>をすべきです - You should do your homework</li>
      <li><span class="fg" t="かれ">彼</span>に<span class="fg" t="しんじつ">真実</span>を<span class="fg" t="はな">話</span>すべきです - You should tell him the truth</li>
    </ul>

    <p>If you want to offer someone advice in a softer tone and not sound aggressively use the following constructions for positive and negative respectively</p>

    <p><span class="badge bg-primary">V た form</span> + <span class="fg" t="ほう">方<span>がいい</p>
    <p><span class="badge bg-primary">V ない form</span> + <span class="fg" t="ほう">方<span>がいい</p>

    <p>This more literally translates as "it would be good if .." and has a much softer nuance to it. </p>

    <h4>Examples</h4>
    <ul>
      <li>todo</li>
      <li>todo</li>
      <li>todo</li>
    </ul>

  </section>

  <hr>

  <section id="calendar">
    <h3>Days of the Month / counting days</h3>

    <p>
      Similar to when you're counting objects in Japanese there is a specific way of counting days as well. After
      learning the pronounciations of the つ counter, some of these may be quite familiar.
      <br>e.g. みっつ　and みっか for 3 objects vs 3 days. This is a good example of why it is useful to learn the different
      readings of the kanji.
    </p>

    <ul>
      <li>what day - nannichi</li>
      <li>1 day - tsuitachi</li>
      <li>2 days - futsuka</li>
      <li>3 days - mikka</li>
      <li>4 days - yokka</li>
      <li>5 days - itsuka</li>
      <li>6 days - muika</li>
      <li>7 days - nanoka</li>
      <li>8 days - youka</li>
      <li>9 days - kokonoka</li>
      <li>10 days - tooka</li>
      <li>20 days - hatsuka</li>
    </ul>
  </section>

  <hr>

  <section id="going-to-do">
    <h3>To go to do something</h3>
    <p><span class="badge bg-primary">V - <span class="text-decoration-line-through">ます</span></span> + に　行く</p>
    <p>Use this structure if you want to say that you went to do something. e.g. I went to watch a movie</p>

    <h4>Examples</h4>
    <ul>
      <li>映画を見にいきました - I went to watch a movie</li>
      <li>友達に会いに行きます - I will go to meet a friend</li>
    </ul>

  </section>

  <hr>

  <section id="new-habbit">
    <h3>Getting into a new habbit</h3>

    <p>When trying to describe something that you want to start doing regularly you can use the structure
      ..youninarimashita
    </p>

    <p>The negative form of this is ..nakunarimashita</p>

  </section>
