<h2>Telling the Time</h2>

<p>
  After learning to count you can now easily expand on this knowledge and use the numbers to tell the time. Talking
  about the time and trying to read out the specific time is also a good way to practise memorising and getting quicker
  at understanding the numbers. Especially time as this doesn't involve working out larger numbers.
</p>

<h3 id="hours">Hours</h3>

<p>
  The word for hour is じ ( ji ) which has the kanji 時. to say the time of day
  you just say the number that corresponds with the hour and add じ after it. There are a few
  exceptions where the pronounciation of the number changes slightly. These are highlighted in red below.
</p>

<p>Even though the kanji and words means hours you can only use this kanji like this when referring to a specific time.
if you want to use hours as a quantity. e.g. 2 hours to do something then you use the word jikan
<span class="fg" t="じ">時</span>
<span class="fg" t="かん">間</span></p>

<table class="table vocabulary-list">
  <tr>
    <th>0 (midnight)</th><td>零時</td><td>れえじ</td><td>ree-ji</td>
  </tr>
  <tr>
    <th>1 o clock</th><td>一時</td><td>いちじ</td><td>ichi-ji</td>
  </tr>
  <tr>
    <th>2 o clock</th><td>二時</td><td>にじ</td><td>ni-ji</td>
  </tr>
  <tr>
    <th>3 o clock</th><td>三時</td><td>さんじ</td><td>san-ji</td>
  </tr>
  <tr class="table-danger">
    <th>4 o clock</th><td>四時</td><td>よじ</td><td>yo-ji</td>
  </tr>
  <tr>
    <th>5 o clock</th><td>五時</td><td>ごじ</td><td>go-ji</td>
  </tr>
  <tr>
    <th>6 o clock</th><td>六時</td><td>ろくじ</td><td>roku-ji</td>
  </tr>
  <tr class="table-danger">
    <th>7 o clock</th><td>七時</td><td>しちじ</td><td>shichi-ji</td>
  </tr>
  <tr>
    <th>8 o clock</th><td>八時</td><td>はちじ</td><td>hachi-ji</td>
  </tr>
  <tr class="table-danger">
    <th>9 o clock</th><td>九時</td><td>くじ</td><td>ku-ji</td>
  </tr>
  <tr>
    <th>10 o clock</th><td>十時</td><td>じゅうじ</td><td>juu-ji</td>
  </tr>
  <tr>
    <th>11 o clock</th><td>十一時</td><td>じゅういちじ</td><td>juuichi-ji</td>
  </tr>
  <tr>
    <th>12 o clock</th><td>十二時</td><td>じゅうにじ</td><td>juuni-ji</td>
  </tr>
</table>


<h4>What time is it?</h4>

<p>You can ask what time it is using the following sentence.</p>

<div class="sentence">
  <p class="sentence_japanese" lang="jp">
    <span class="fg" t="いま">今</span>は
    <span class="fg" t="なん">何</span>
    <span class="fg" t="じ">時</span>
  ですか
  </p>
  <p class="sentence_english">What time is it?</p>
</div>

<p>The word for 'what' is なに but in this sentence because it is combined with the word
じ it also changes the pronounciation slightly similar to some of the numbers. In this case it
is just read as なん</p>

<h3 id="minutes">Minutes</h3>

<p>The word for minute is pun/fun depending on what number it follows</p>

<ul class="vocabulary-list">
  <li>0 minutes - re-fun</li>
  <li>1 minute - ip-pun</li>
  <li>2 minutes - ni-fun</li>
  <li>3 minutes - san-pun</li>
  <li>4 minutes - yon-pun</li>
  <li>5 minutes - go-fun</li>
  <li>6 minutes - rop-pun</li>
  <li>7 minutes - nana-fun</li>
  <li>8 minutes - hap-pun</li>
  <li>9 minutes - kyu-fun</li>
  <li>10 minutes - jup-pun</li>
  <li>20 minutes - nijup-pun</li>
  <li>30 minutes - sanjup-pun</li>
  <li>40 minutes - yonjup-pun</li>
  <li>50 minutes - gojup-pun</li>
  <li>what minute - nan-pun</li>
</ul>

<p>So minute is pun if it follows the numbers 1,3,4,6,8,10(multiples of 10) including numbers after 10 such as 11, 34, 45 etc</p>

<h3 id="seconds">Seconds</h3>

<p>The word for second is byo</p>

<ul class="vocabulary-list">
  <li>0 - re-byo</li>
  <li>1 - ichi-byo</li>
  <li>2 - ni-byo</li>
  <li>3 - san-byo</li>
  <li>4 - yo-byo</li>
  <li>5 - go-byo</li>
  <li>6 - roku-byo</li>
  <li>7 - nana-byo</li>
  <li>8 - hachi-byo</li>
  <li>9 - kyu-byo</li>
  <li>10 - ju-byo</li>
  <li>what second? - nan-byo</li>
</ul>
