<h2 id="trying-todo">Trying to do something</h2>

<h3>How to say that you're trying to do something</h3>
<p>
  If you want to state that you are going to "try" something instead of doing something you simply use the te form of the verb followed by
  the verb miru.
</p>
<p>NOTE: when using this write the verb miru in kana only. don't use the Kanji</p>

<p>Example. I will try to eat. tabetemiru</p>

<p>Need to revise the te form? you can do so here</p>
