

$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;
$white:   #FFFFFF;

$primary:       #B0000F;
$secondary:     #f3f3f3;
$success:       #4bb543;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         #f3f3f3;
$dark:          #333333;


$body-bg: #CCC;
$body-color: #111;


$input-bg: $white;
$enable-cssgrid: true;

@import "../../node_modules/bootstrap/scss/bootstrap";



.card .list-group-item {
  border-color: rgba(0, 0, 0, 0.176);
}

.dialogue {
  display: flex;
  flex-direction: column;
  padding: $spacer;
  box-shadow: inset 0px 0px 3px 0px #888888;


  margin: $spacer 0px;

  .dialogue_message {
    padding: $spacer;
    border-radius: 5px;
    margin: $spacer * 1.5 $spacer * 0.5;
    position: relative;

    // triangle
    &:before {
      content: ' ';
      position: absolute;
      top: 95%;
      width: 0;
      height: 0;
      border-style: solid;
    }

    // sender/receiver text
    &:after {
      position: absolute;
      bottom: 100%;
      color: black;
      font-style: italic;
    }

    p {
      margin-bottom: 0px;
    }

    &.sender {
      background-color: $primary;
      color: #FFFFFF;
      align-self: flex-end;

      &:before {
        right: 0px;
        border-color: $primary transparent transparent transparent;
        border-width: 20px 0px 0 15px;

      }

      &:after {
        content: "Sender";
        right: 4px;
      }
    }

    &.receiver {
      background-color: #FFFFFF;
      color: #000000;
      align-self: flex-start;
      border-right: 2px solid #CCC;

      &:before {
        left: 0px;
        border-width: 20px 15px 0 0px;

        border-color: #FFF transparent transparent transparent;
      }

      &:after {
        content: "Receiver";
        left: 4px;
      }
    }

  }

}


.sentence {
  padding: $spacer 0px;

  p {
    margin-bottom: .2 * $spacer;
  }

  .sentence_japanese {
    font-weight: 500;
    margin-bottom: $spacer;
  }

  .sentence_english {
    font-weight: 300;
    margin-bottom: $spacer;
  }

}

.fg:before {
	content: attr(t);
	display: block;
    font-size: 50%;
    text-align: start;
	line-height: 1.5;
}

.fg {
	display: inline-block;
	text-indent: 0px;
	line-height: normal;
  -webkit-text-emphasis: none;
  text-emphasis: none;
	text-align: center;
	line-height: 1;
}

.gap {
  border: 1px solid black;
  padding: 0px 0.5 * $spacer;
  margin-right: $spacer * 0.5;
  background-color: #FFFFFF;
  font-weight: 300;
  text-transform: capitalize;
}


ul.list.word-cloud {
  list-style: none;
  padding-left: 0px;
  text-align: center;

  li {
    display: inline-block;
    padding-right: $spacer * 2;
  }
}

.coming-soon {
  margin: 5 * $spacer 0px;
  text-align: center;
}
