{% extends "layouts/base.njk" %}

{% block title %}Account{% endblock %}


{% block main %}
<div class="row">
  <div class="col-12 col-sm-6 mb-3">
  <div class="card">
      <div class="card-body">
          <h2 class="card-title">Update Password</h2>
          <form action="/update-password" method="post">
          <div class="mb-3">
            <label class="form-label" for="current-password">Current Password:</label>
            <input type="password" class="form-control" id="current-password" name="current-password"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="new-password">New Password:</label>
            <input type="password" class="form-control" id="new-password" name="new-password"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="confirm-password">Confirm New Password:</label>
            <input type="password" class="form-control" id="confirm-password" name="confirm-password"/>
          </div>
          <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="submit"/>
            </div>
          </form>
      </div>
  </div>
  </div>
  <div class="col-12 col-sm-6 mb-3">
  <div class="card">
      <div class="card-body">
          <h2 class="card-title">Delete Account</h2>
          <p>
            Once you do this, <strong>there's no going back</strong>. If you wish to use this service again you will need to
            create a new account after deletion.
          </p>
          <form action="/register" method="post" autocomplete="off">
          <div class="mb-3">
            <label class="form-label" for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password"/>
          </div class="mb-3">
            <input type="submit" class="btn btn-secondary" value="submit"/>
          </form>
      </div>
  </div>
  </div>
</div>
{% endblock %}
