{% extends "layouts/base-admin.njk" %}

{% block title %}Admin Dashboard{% endblock %}


{% block includes %}
  <script src="/assets/wanakana.min.js"></script>
{% endblock %}

{% block main %}
  <div class="grid mt-3" style="--bs-gap: 1rem;">
    {% for tile in tiles %}
    <div id="{{tile.id}}" class="g-col-12 g-col-sm-6 g-col-md-4 g-col-xl-3">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{tile.name}}</h2>
      </div>
      <ul class="list-group list-group-flush">
        {% for action in tile.actions %}
          <li class="list-group-item">
            <a class="card-link" href="{{action.value}}">{{action.text}}</a>
          </li>
        {% endfor %}
      <ul>
    </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}
