{% extends "layouts/base-admin.njk" %}

{% block title %}Manage {{objectName}}{% endblock %}

{% set pageEndIdx = pageSize * (pageNumber + 1) - 1  %}
{% set max = count if count <= pageEndIdx else pageEndIdx %}

{% block includes %}
  <script src="/assets/wanakana.min.js"></script>
{% endblock %}

{% block main %}
  <div class="wrapper">
    <div class="panel long">
      <div class="inner">
        <h2>{{objectName}}</h2>
        

        <div class="hstack gap-3 py-3">
          {% if count > pageSize %}
          <nav aria-label="{{objectName}} pagination">
            <ul class="pagination">
              {% if pageNumber > 0 %}
                <li class="page-item">
                  <a href="?page={{pageNumber}}" class="page-link">Previous</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">Previous</span>
                </li>
              {% endif %}

              {% if (pageSize * (pageNumber + 1) - 1) <= count %}
                <li class="page-item">
                  <a href="?page={{pageNumber + 2}}" class="page-link">Next</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">Next</span>
                </li>
              {% endif %}
            </ul>
          </nav>
          {% endif %}
          <p>Showing {{objectName}}: {{pageSize * pageNumber}} - {{max}} of {{count}}</p>
        </div>

        {% for action in actions %}
          <a class="btn" href="{{action.link}}">{{action.text}}</a>
        {% endfor %}

        <table class="table table-striped table-hover table-sm table-borderless">
          <tr>
            {% for col in columns %}
              <th>{{col.name}}</th>
            {% endfor %}
            <th></th>
          </tr>
          {% for o in objects %}
            <tr data-id="{{o.id}}">
            {% for col in columns %}
              <td scope="col">{% if (o[col.value]) %}{{o[col.value]}}{% endif %}</td>
            {% endfor %}
              <td scope="col">
                {% for action in itemActions %}
                  <a href="{{action.link | replaceProperties(o)}}">{{action.text}}</a>
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
            </table>
          </div>
        </div>

        {% if count > pageSize %}
        <nav aria-label="{{objectName}} pagination">
          <ul class="pagination">
            {% if pageNumber > 0 %}
              <li class="page-item">
                <a href="?page={{pageNumber}}" class="page-link">Previous</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
            {% endif %}

            {% if (pageSize * (pageNumber + 1) - 1) <= count %}
              <li class="page-item">
                <a href="?page={{pageNumber + 2}}" class="page-link">Next</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Next</span>
              </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}

      </div>
    {% endblock %}
