{% extends "layouts/base-admin.njk" %}
{% import "macros/form.njk" as forms %}

{% block title %}
  {% if object.id%}Edit{% else %}New{%endif%} {{objectName}}
{% endblock %}

{% block includes %}
  <script src="/assets/wanakana.min.js"></script>
{% endblock %}

{% block main %}
  <div class="wrapper">
    <div class="panel long">
      <div class="inner">
        <h2>{% if object.id%}Edit{% else %}New{%endif%} {{objectName}}</h2>
        <form method="post" id="edit-form" action="{{objectPostRoute}}">
          {% if object.id%}
            <input type="hidden" name="id" value="{{object.id}}" />
          {%endif%}

          {% for prop in properties %}
            {{ forms.renderField(prop, object) }}
          {% endfor%}

          <div class="mb-3">
            {% if object.id%}
            <input type="submit" class="btn btn-primary" value="Update"/>
            {% else %}
            <input type="submit" class="btn btn-primary" value="Create"/>
            {%endif%}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
