{% extends "layouts/base-admin.njk" %}

{% block title %}View feedback{% endblock %}

{% block includes %}
  <script src="/assets/wanakana.min.js"></script>
{% endblock %}

{% block main %}
  <div class="grid wrapper">
    <div class="panel long">
      <div class="inner">
        <h2>View feedback</h2>
        <br/>
        <dl>
          <dt>Email:</dt>
          <dd>{{feedback.email}}</dd>
          <dt>Consent:</dt>
          <dd>{{feedback.consent}}</dd>
          <dt>Feedback:</dt>
          <dd>{{feedback.feedback}}</dd>
        </dl>
      </div>
    </div>
  </div>
{% endblock %}
