{% extends "layouts/base.njk" %}

{% block title %}Feedback{% endblock %}


{% block header %}
  <h1>Feedback</h1>
{% endblock %}

{% block main %}
<div class="wrapper">
  <div class="row">
    <div class="col two-third">
    <div class="inner">
    {% if not submitted %}
      <form action="/feedback" method="post">
          <div class="mb-3">
              <label class="form-label">Email(optional):</label>
              <div class="form-group">
                {% if errors and  errors.email %}
                <input class="form-control is-invalid" type="text" name="email"/>
                <div class="invalid-feedback">{{errors.email}}</div>
                {% else %}
                <input class="form-control" type="text" name="email"/>
                {% endif %}
              </div>
          </div>
          <div class="mb-3">
              <label class="form-label" for="feedback">Feedback:</label>
              <textarea class="form-control" id="feedback" name="feedback" rows="4" cols="50"></textarea>
          </div>
              {# <label>Are you happy for me to contact you with updates relating to the issue or for further information?:</label>
              <input type="checkbox" name="consent"/> #}
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" name="consent" id="consent">
                <label class="form-check-label" for="consent">
                  Are you happy for me to contact you with updates relating to the issue or for further information?
                </label>
              </div>

          <div>
                <p>Please keep feedback constructive. If there are any new features you would like to request,
                or if you find any bugs/accessibility issues then please let me know and I will do my best to address the issue.
                Please refraim from making comments about my mum, she's a lovely lady.</p>

                <p>Depending on the amount of feedback I receive I may not be able to respond or address everything. I will prioritise bugs and accessibility issues, but still appreciate
                fresh ideas for new features.</p>
       </div>
          <div>
              <input type="submit" class="btn btn-primary" value="Submit"/>
          </div>
      </form>
      {% else %}
        <h1>Thanks for your Feedback</h1>
        <p>
          Your feedback form has been submitted successfully, we will consider
          this feedback for future development and prioritisation.
        </p>
      {% endif %}
      </div>
        </div>
    </div>
</div>
{% endblock %}
