{% extends "layouts/base.njk" %}

{% block title %}Dashboard{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-12 col-sm-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Levels</h2>
          <p class="card-text"><small>Delve into the grammar and start learning vocabulary. This has been split up into levels in order to be easier to
          digest and to better track progress. As you go through the levels the grammar structures and words get trickier</small></p>
        </div>
        <ul id="levels" class="list-group list-group-flush">
          {% for level in levels %}
            <li class="list-group-item list-group-item-action">
              <a href="/level/{{level.number}}">{{level.name}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Kanji</h2>
          <p>Number of Kanji to review: <strong>{{kanjiReviews}}</strong></p>
          <a href="/kanji" class="btn btn-primary">Start Review</a>
                    <p class="card-text pt-3"><small>Learn the different readings of the Kanji letters along with their meanings. learning this will
          help with reading and memorising words later on. Learning Kanji characters is something that can be done separately to learning
          vocabulary and grammar.</small></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
