{% extends "layouts/base.njk" %}

{% block title %}Kanji {{kanji.letter}}
{% endblock %}

{% block main %}
  <div class="wrapper">
    <div class="row">
      <div class="card col-md-2 col-12 text-center">
        <div class="card-body" style="font-size: 5rem;">
          {{kanji.letter}}
        </div>
      </div>
      <div class="card offset-md-1 col-md-9 col-12">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="hstack gap-3">
                <div class="w-25">
                  <strong>Meaning</strong>
                </div>
                <div>{{kanji.meaning}}</div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="hstack gap-3">
                <div class="w-25">
                  <strong>Onyomi</strong>
                </div>
                <div>{{kanji.onyomi}}</div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="hstack gap-3">
                <div class="w-25">
                  <strong>Kunyomi</strong>
                </div>
                <div>{{kanji.kunyomi}}</div>
              </div>
            </li>

          {% if kanji.jlpt %}
            <li class="list-group-item">
              <div class="hstack gap-3">
                <div class="w-25">
                  <strong>JLPT</strong>
                </div>
                <div>N{{kanji.jlpt}}</div>
              </div>
            </li>
          {% endif %}

          </ul>
          {% if kanji.mnemonic %}
            <p>{{kanji.mnemonic}}</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      {% for word in words %}
        <div class="card col-md-2 text-center">
          <div class="card-body">
            <h5 class="card-title">{{word.meaning}}</h5>
            <p class="card-text">N{{word.jlpt}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{word.kanji}}</li>
            <li class="list-group-item">{{word.hiragana}}</li>
            <li class="list-group-item">{{word.romaji}}</li>
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
