{% extends "layouts/base.njk" %}

{% block title %}Kanji Progress{% endblock %}

{% block includes %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block main %}
  <div class="wrapper">
    <h2>Learn Kanji</h2>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-kanji-tab" data-bs-toggle="tab" data-bs-target="#nav-kanji" type="button" role="tab" aria-controls="nav-kanji" aria-selected="true">
          Kanji <span class="badge bg-primary">{{kanjiReviews}} <span class="visually-hidden">to review</span></span>
        </button>
        <button class="nav-link" id="nav-progress-tab" data-bs-toggle="tab" data-bs-target="#nav-progress" type="button" role="tab" aria-controls="nav-progress" aria-selected="false">Progress</button>
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      <div class='tab-pane pt-4 fade show active' id="nav-kanji" role="tabpanel" aria-labelledby="nav-kanji-tab" tabindex="0">
        <form action="/kanji/add" method="post" class="mb-3">
          <a href="/kanji/quiz" class="btn btn-secondary text-bg-secondary">Start Quiz</a>
          <input type="submit" class="btn btn-secondary" value="Add Kanji"/>
        </form>

        <div class="d-flex flex-wrap">
          {% for kanjiprog in kanjiProgress %}
            <div class="card text-center flex-fill" style="max-width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{kanjiprog.Kanji.letter}}</h5>
                <p class="card-text">
                <div class="progress">
                  <div class="progress-bar" role="progressbar"
                        style="width: {{ kanjiprog.reviewNumber / 8 * 100}}%"
                  aria-valuenow="{{kanjiprog.reviewNumber}}" aria-valuemin="0" aria-valuemax="8"></div>
                </div>
                </p>
                <a href="/kanji/view/{{kanjiprog.Kanji.id}}" class="card-link">Learn</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class='tab-pane pt-4 fade' id="nav-progress" role="tabpanel" aria-labelledby="nav-progress-tab" tabindex="0">
        <div class="d-flex flex-wrap">
            <div class="card text-center flex-fill" style="width: 30rem;">
              <div class="card-body">
                <canvas id="progressSplit"></canvas>
              </div>
            </div>
          <div class="card text-center flex-fill" style="width: 30rem;">
            <div class="card-body">
              <canvas id="kanjiLearnt"></canvas>
            </div>
          </div>
        </div>
        <script>
          const splitCxt = document.getElementById('progressSplit');

          new Chart(splitCxt, {
            type: 'pie',
            data:  {
              labels: {{progressSplitLabels | dump | safe}},
              datasets: [{
                label: 'Number of reviewed kanji',
                data: {{progressSplitData | dump | safe}},
                backgroundColor: [
                  '#333333',
                  '#52322c',
                  '#88271d',
                  '#b0000f'
                ],
                hoverOffset: 8
              }],
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Progress split of Seen Kanji',
                        padding: {
                            top: 10,
                            bottom: 30
                        }
                    },
                    subtitle: {
                        display: true,
                        text: 'Separated by the amount of progress on each kanji'
                    },
                    tooltip: {
                      padding: 12,
                      boxPadding: 4
                    },
                    legend: {
                        display: true,
                        position: 'right',
                        labels: {
                            color: '#333333'
                        }
                    }
                }
            }
          });

          const overallCxt = document.getElementById('kanjiLearnt');

          new Chart(overallCxt, {
            type: 'pie',
            data:  {
              labels: ['Seen', 'Unseen'],
              datasets: [{
                label: '% of Overall Kanji Progress',
                data: [{{kanjiReviews / 1026 * 100}}, {{(1026 - kanjiReviews) / 1026 * 100}}],
                backgroundColor: [
                  '#333333',
                  '#b0000f'
                ],
                hoverOffset: 8
              }],
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Percentage of all kanji seen',
                        padding: {
                            top: 10,
                            bottom: 30
                        }
                    },
                    tooltip: {
                      padding: 12,
                      boxPadding: 4
                    },
                    legend: {
                        display: true,
                        position: 'right',
                        labels: {
                            color: '#333333'
                        }
                    }
                }
            }
          });

        </script>
      </div>
    </div>
    <br/>

  </div>
{% endblock %}
