{% extends "layouts/base.njk" %}

{% block title %}Level {{level.number}}
{% endblock %}

{% block header %}
  {% if level %}
    <p>
      <small class="text-muted">Level {{level.number}}</small>
    </p>
    <h1 class="display-1">{{level.name}}</h1>
  {% endif %}
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-12 col-sm-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Lessons</h2>
          <p class="card-text">{{level.description}}</p>
          <ul id="lessons" class="list-group list-group-flush">
            {% for lesson in lessons %}
              {% if not lesson.isDraft or user.isAdmin %}
              <li class="list-group-item list-group-item-action">
                <a href="/lesson/{{lesson.templateName}}">
                  {{lesson.name}}
                  {% if lesson.isDraft %}
                    <span class="badge bg-primary ms-3">Draft</span>
                  {% endif %}
                </a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Vocabulary</h2>
          <p class="card-text pt-3">
            <small>Learn the vocabulary that comes with the lesson. This is seperated out so you can go through the lessons and focus
            on grammar, you can then learn vocabulary seperately. The vocabulary is chosen for each level to help expand and practise
            what is learnt in the grammar lessons. </small>
          </p>
          <a href="/level/{{level.number}}/vocabulary" class="btn btn-primary">Learn</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
