{% extends "layouts/base.njk" %}

{% block title %}Login{% endblock %}

{% block header %}
  <h1>Welcome</h1>
{% endblock %}

{% block main %}
            {% if alerts and alerts.length > 0 %}
              {% for alert in alerts %}
              <div class="alert alert-{{alert.type}} alert-dismissible fade show" role="alert">{{- alert.message -}}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-12 col-sm-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h2>Login</h2>
                            <form action="/login" id="login-form" method="POST" autocomplete="off">
                                <div class="mb-3">
                                    <label class="form-label">Username:</label>
                                    <input class="form-control" id="username" type="text" name="username"/>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Password:</label>
                                    <input class="form-control" id="password" type="password" name="password"/>
                                </div>
                                <div class="mb-3">
                                   <button type="submit" id="login" class="btn btn-primary">Log in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                          <h2>Register</h2>
                          <form action="/register" method="post" autocomplete="off">
                                <div class="mb-3">
                                    <label class="form-label">Username:</label>
                                    <input class="form-control" type="text" name="username"/>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Password:</label>
                                    <input class="form-control" type="password" name="password" autocomplete="new-password"/>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Confirm Password:</label>
                                    <input class="form-control" type="password" name="confirm-password"/>
                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-outline-primary">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
