{% extends "layouts/base.njk" %}

{% block title %}Quiz{% endblock %}


{% block includes %}
{% if question.expectJapanese === true %}
  <script src="/assets/wanakana.min.js"></script>
{% endif %}
{% endblock %}

{% block header %}
  <h1>{{header}}</h1>
{% endblock %}

{% block main %}
  <div class="quiz">
    {% include "partials/question.njk" %}
  </div>
{% endblock %}
