{% extends "layouts/base.njk" %}

{% block title %}Level {{levelNumber}} Vocabulary{% endblock %}


{% block main %}
  <div class="wrapper">
    <h2>Learn Vocabulary</h2>
    <p>This page contains the vocabulary to go with Level {{levelNumber}}</p>

        <table class="table table-striped table-hover table-sm table-borderless">
          <tr>
            <th>Meaning</th>
            <th>Hiragana</th>
            <th>Kanji</th>
            <th>Romaji</th>
            <th>JLPT</th>
            <th></th>
            <tr>
              {% for w in words %}
                <tr>
                  <td scope="col">{{w.meaning}}</td>
                  <td scope="col">{{w.hiragana}}</td>
                  <td scope="col">{{w.kanji}}</td>
                  <td scope="col">{{w.romaji}}</td>
                  <td scope="col">N{{w.jlpt}}</td>
                  <td scope="col">
                    <i class="bi bi-megaphone" style="cursor: pointer" aria-role="button" aria-label="Megaphone"></i>
                  </td>
                </tr>
              {% endfor %}

            </table>
  </div>
{% endblock %}
