<div class="multi-text">
  <script>
    function addAnswer(event){
      let text = document.querySelector('input[name="answer-box"]').value;
      if(text !== '') {
        const node = document.createElement("li");
        node.classList = 'list-group-item';
        const textnode = document.createTextNode(text);
        const cancelButton = document.createElement("button");
        cancelButton.classList = "btn-close float-end";
        cancelButton.ariaLabel = "Close";
        cancelButton.setAttribute("data-id", 1);
        cancelButton.setAttribute("type", "button");
        node.appendChild(textnode);
        node.appendChild(cancelButton);

        cancelButton.addEventListener('click', (event) => {
          console.log(`Click count: ${event.detail}`);
        });
        document.getElementById('answers').appendChild(node);
        //<button type="button" class="btn-close" aria-label="Close"></button>
        document.querySelector('input[name="answer-box"]').value = '';
      }
    }
  </script>

    <div class="input-group mb-3">
      <input type="text" name="answer-box" class="form-control" placeholder="add answers" aria-label="Answer textbox" aria-describedby="add-answer">
      <button class="btn btn-outline-success" onclick="addAnswer()" type="button" id="add-answer">Add</button>
    </div>

    <ul id="answers" class="list-group list-group-flush">
    </ul>


</div>
