{% macro password(prop, value) %}
<div class="mb-3">
  <label class="form-label" for="{{prop.field}}">{{prop.label}}</label>
  <input class="form-control" type="password" value="{{value}}" name="{{prop.field}}"/>
</div>
{% endmacro %}

{% macro text(prop, value) %}
<div class="mb-3">
  <label class="form-label" for="{{prop.field}}">{{prop.label}}</label>
  <input class="form-control" type="text" value="{{value}}" name="{{prop.field}}"/>
</div>
{% endmacro %}

{% macro select(prop, value) %}
<label class="form-label" for="{{prop.field}}">{{prop.label}}</label>
<select class="form-select" name="{{prop.field}}">
  {% for option in prop.options %}
    {% if value == option.value %}
    <option selected value="{{option.value}}">{{option.name}}</option>
    {% else %}
    <option value="{{option.value}}">{{option.name}}</option>
    {%endif%}
  {% endfor%}
</select>
{% endmacro %}

{% macro number(prop, value) %}
<div class="mb-3">
  <label class="form-label" for="{{prop.field}}">{{prop.label}}</label>
  <input class="form-control" type="number" value="{{value}}" name="{{prop.field}}"/>
</div>
{% endmacro %}

{% macro email(prop, value) %}
<div class="mb-3">
  <label class="form-label" for="{{prop.field}}">{{prop.label}}</label>
  <input class="form-control" type="email" value="{{value}}" name="{{prop.field}}"/>
</div>
{% endmacro %}


{% macro toggleSelect(prop, value, object) %}
<div class="toggle-select">
  <div class="mb-3">
    <label for="{{prop.field}}">{{prop.label}}</label>
    <select  onchange="updateToggle('{{prop.field}}')" class="form-select" name="{{prop.field}}">
      {% for option in prop.options %}
        {% if value == option.value %}
          <option selected value="{{option.value}}">{{option.name}}</option>
        {% else %}
          <option value="{{option.value}}">{{option.name}}</option>
        {%endif%}
      {% endfor%}
    </select>
  </div>

  {% for option in prop.options %}
    <div data-toggle="{{prop.field}}:{{option.value}}">
      {% for subprop in option.properties %}
          {{ renderField(subprop, object) }}
      {% endfor%}
    </div>
  {% endfor%}
  <br/>
  <script>
    updateToggle('{{prop.field}}');
    setSelectField('{{prop.field}}', '{{prop.value}}');
  </script>
</div>
{% endmacro %}

{% macro renderField(property, object) %}
 {% if property.type == 'custom' %}
      {% include "partials/admin/"+ property.source +".njk" %}
  {% else %}
      {{ getContext(property.type)(property, object[property.field], object) }}
  {%endif%}
{% endmacro %}

{% macro multi(property, object)%}
  <div class="mb-3 multi-select">
    <table class="table table-sm">
      <caption>{{property.label}}</caption>
      <thead>
        <tr>
          {% if property.selectType === 'checkbox' or property.selectType === 'radio'%}
            <th></th>
            <th>Label</th>
          {% endif %}
          {% for field in property.fields %}
            <th scope="col">{{field}}</th>
          {% endfor%}
        </tr>
      </thead>
      <tbody>
        {% for dataItem in property.data %}
        <tr>
          {% if property.selectType === 'checkbox'%}
            <td>
               <input class="form-check-input" name="{{property.field}}-{{dataItem.id}}" type="checkbox" id="{{property.field}}-{{dataItem.id}}" value="{{dataItem.id}}">
            </td>
            <td>
               <label class="form-check-label" for="{{property.field}}-{{dataItem.id}}">{{dataItem[property.label]}}</label>
            </td>
          {% endif %}
          {% if property.selectType === 'radio'%}
            <td>
               <input class="form-check-input" name="{{property.field}}" type="radio" id="{{property.field}}-{{dataItem.id}}" value="{{dataItem.id}}">
            </td>
            <td>
               <label class="form-check-label" for="{{property.field}}-{{dataItem.id}}">{{dataItem[property.label]}}</label>
            </td>
          {% endif %}
          {% for field in property.fields %}
            <td>{{dataItem[field]}}</td>
          {% endfor%}
        </tr>
        {% endfor%}
      </tbody>
    </table>
  </div>
{% endmacro %}
